<!--This is where the user can choose which mission they want to do.-->
<h1>{{title}}</h1>
<p>Welcome to the Culper Spy Ring. I am Agent 2187. Choose a mission to undertake:</p>

<!--{{user}} & {{request.user}} are defined by settings.py, not the views.py file-->
<h2>Available Missions</h2>

<table border="1">
	<tr>
		<td><b>Decode Message</b></td>
		<td>Locate cipher from colonist and decode British message</td>
		<td>[Button]</td>
	</tr>
	<tr>
		<td><b>Troop Strength</b></td>
		<td>Acquire troop size counts from other agents. Careful, the enemy could be listening.</td>
		<td>[Button]</td>
	</tr>
	<tr>
		<td><b>Propaganda</b></td>
		<td>Sneak dissention propaganda amongst the British troops to lower their morale.</td>
		<td>[Button]</td>
	</tr>
</table>
