<!--This is where the user can choose which mission they want to do.-->
<!--{{user}} & {{request.user}} are defined by settings.py, not the views.py file-->
<!--{# Load the tag library #}-->
{% load bootstrap3 %}
<!-- 
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %} -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel='stylesheet' href='{% static "css/userDashboard.css" %}' />
    <!--<img src='{ % static "img/beach.jpg" %}' />-->

    <title>CHF App (User Side)</title>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">InterActivity</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
<!--             <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div> -->
            <button type="submit" action="/home.html" class="btn btn-success">Log Out</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->

      <div class="container">
      	<img src='{% static "img/ParchmentTest.png" %}' alt="Parchment"/>
        <h1>Welcome, {{user}}.</h1>
        <p>I am Agent 2187 of the Culper Spy Ring. Help us in our cause and choose a mission to undertake from the list below. </p>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
      </div>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Decode Message</h2>
          <p>Locate cipher from colonist and decode British message.</p>
          <p><a class="btn btn-default" href="#" role="button">Join &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Troop Strength</h2>
          <p>Acquire troop size counts from other agents. Careful, the enemy could be listening.</p>
          <p><a class="btn btn-default" href="#" role="button">Join &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Propaganda</h2>
          <p>Sneak propaganda amongst the British troops to encourage dissention an lower their morale.</p>
          <p><a class="btn btn-default" href="#" role="button">Join &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>




